<!doctype html>
<html lang="en">
  <head>
  	<title>Institutions Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="C:\Paari1263\stud_dashboard\css\style.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4">
		  		<h1><a href="C:\Paari1263\stud_dashboard\html\index.html" class="logo">Schools/College <span>An Aadhar based Initiative</span></a></h1>
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a href="C:\Paari1263\stud_dashboard\html\index.html"><span class="fa fa-home mr-3"></span> Home</a>
	          </li>
	          <li>
	              <a href="C:\Paari1263\stud_dashboard\html\about.html"><span class="fa fa-user mr-3"></span> About</a>
	          </li>
	          <li>
              <a href="C:\Paari1263\stud_dashboard\html\stud_list.html"><span class="fa fa-briefcase mr-3"></span> Student List</a>
	          </li>
	          <li>
              <a href="C:\Paari1263\stud_dashboard\html\services.html"><span class="fa fa-cogs mr-3"></span> Services</a>
	          </li>
	          <li>
              <a href="C:\Paari1263\stud_dashboard\html\help.html"><span class="fa fa-paper-plane mr-3"></span>Help</a>
	          </li>
	        </ul>
	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">For Help,</h2>
        <p>Need some Assistance, we are there for you.</p>
        <p></p>
        <p></p>
        <p>Contact us using, </p>
        <p>Phone Number : +91 9876543210</p>
        <p>Email-id : helpdesk@gmail.com</p> 
		<img class="homepic" src=C:\Paari1263\stud_dashboard\images\help.jpg">
      </div>
		</div>
<!-- 		<div class="footer`">
			<p> Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This is made by 405_Found<i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"></a>
					  </p>
		</div> -->
    <script src="C:\Paari1263\stud_dashboard\js\jquery.min.js"></script>
    <script src="C:\Paari1263\stud_dashboard\js\popper.js"></script>
    <script src="C:\Paari1263\stud_dashboard\js\bootstrap.min.js"></script>
    <script src="C:\Paari1263\stud_dashboard\js\main.js"></script>
  </body>
</html>