<!doctype html>
<html lang="en">
  <head>
  	<title>Institutions Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4">
		  		<h1><a href="\index\{{code}}" class="logo">Schools/College <span>An Aadhar based Initiative</span></a></h1>
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a href="\index\{{code}}"><span class="fa fa-home mr-3"></span> Home</a>
	          </li>
	          <li>
              <a href="{{url_for('services')}}"><span class="fa fa-cogs mr-3"></span> Services</a>
	          </li>
			  <li>
				<a href="{{url_for('logout')}}"><span class="fa fa-paper-plane mr-3"></span>Logout</a>
				</li>
	        </ul>
	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
		<div style="display: flex; flex-direction:row">
        <h2 class="mb-4">Student TC generation platform</h2>
        <a href="{{ url_for('static', filename='template.pdf')}}" download="Transfer_Certificate" class="btn btn-primary" style="margin-left: 800px; border-radius: 7%; height: fit-content;"><h2 style="color: white; height: 22px" class="mb-4">Download TC</h2></a>
	</div>
        <p id="lorem">This platform can be used to generate TC to Students of your institute</p>
		<table class="table">
			<thead>
			  <tr>
				<th>
					<div class="search">
						<input type="text" class="search-input" placeholder="Student Name">
						<button type="submit" class="searchButton">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</th>
				<th>
					<input type="text" class="search-input" placeholder="Phone Number">
					<button type="submit" class="searchButton">
						<i class="fa fa-search"></i>
					</button>
				</th>
				<th>
					<input type="text" class="search-input" placeholder="Email">
					<button type="submit" class="searchButton">
						<i class="fa fa-search"></i>
					</button>
				</th>
				<th class="tc">
					Apply for TC
				</th>
			  </tr>
			</thead>
			<tbody>
				{% for user in users %}
			  <tr>
				<td>{{ user.name }}</td>
				<td>{{ user.phone }}</td>
				<td>{{ user.email }}</td>
				<td>
					
					<form method="POST">
						<div style="display: flex; flex-direction:row;">
					{% if user.parent_approval == "False" %}
					<!-- <a href="/update_approval/{{ user.aadhar }}" style="pointer-events: none;" type="submit data-toggle="modal" data-target="#myModal" class="button-33" role="button">Apply</a> -->
					<span style="color: red; font-weight: bolder;">Parent Appoval Pending</span>
					{% elif user.parent_approval == "True" %}
					<!-- <a href="/update_approval/{{ user.aadhar }}" style="pointer-events: none;" type="submit data-toggle="modal" data-target="#myModal" class="button-33" role="button">Apply</a> -->
					<!-- <span style="color: red; font-weight: bolder;">Authority Appoval Pending</span> -->
					<a href="/update_tc/{{ user.aadhar }}" type="submit data-toggle="modal" data-target="#myModal" class="button-33" role="button">Generate TC</a>
					{% elif user.parent_approval == "None" %}
					<a href="/update_approval/{{ user.aadhar }}/{{ user.parent_mail }}" type="submit data-toggle="modal" data-target="#myModal" class="button-44" role="button">Request Parent Approval</a>
					{% endif %}
				</div>
				</form>
					<div class="modal fade" id="myModal" role="dialog">
						<div class="modal-dialog">
							<div class="card">
								<div class="text-right cross"> <i class="fa fa-times"></i> </div>
								<div class="card-body text-center"> <img class="certificate" src="{{ url_for('static', filename='images/certificate.png') }}">
									<h4>CONGRATULATIONS!</h4>
									<p>Transfer Certificate for the Student has been generated succesfully!!</p> <button class="btn btn-out btn-square continue">CONTINUE</button>
								</div>
							</div>
						</div>
					</div>
				</td>
			  </tr>
			  {% endfor %}
			</tbody>
		  </table>
      </div>
		</div>
<!-- 		<div class="footer`">
			<p> Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This is made by 405_Found<i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"></a>
					  </p>
		</div> -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/popper.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		<script src="{{ url_for('static', filename='js/table.js') }}"></script>
  </body>
</html>